### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Build Systems (Maven e Gradle) ###
target/
mvnw
*.cmd
.gradle/
build/
gradlew
gradlew.bat

### Eclipse (Bom manter para colaboradores) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Arquivos de Sistema (Lixo) ###
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

### Logs e Arquivos Temporários ###
*.log
*.tmp